{% extends "base.html" %}
{% block title %}Delete {{ product.name }}{% endblock %}

{% block content %}
        <div class="container">
            <h1 class="text-center">Are you sure want to delete product "{{ product.name }}"?</h1>
            <form method="POST" action="{% url "product_delete" product.pk %}" class="text-center">
            {% csrf_token %}
                <div class="row">
                    <div class="col text-center">
                            <p><input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Yes"></p>
                            <p><input class="btn btn-secondary btn-lg btn-block" type="button" value="No" onclick='location
                            .href="{% url "index" %}"'></p>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}