{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}{{ product.name }}'s details{% endblock %}

{% block content %}
    <h1>{{ product.name }}'s details</h1>
    <div class="product text-center mt-5">
        <img width="300" src="{% if not product.picture %}
                {% static "pictures/img_empty.png" %}
            {% else %}
                {{ product.picture.url }}
            {% endif %}" class="card-img-top" alt="...">
        <div class="product_details mt-5 text-left">
            <p><b>Category: </b>{{ product.category }}</p>
            <p><b>Description: </b>{{ product.description }}</p>
            <p><b>Average rating: </b> {{ avg_rating }}</p>
        </div>
    </div>
    <div class="reviews_block text-center">
        <h2>Reviews:</h2>
        {% for review in reviews %}
        <div class="review text-left mt-3">
            <p><b>{{ review.author }} ({{ review.author.email }})</b></p>
            <p>{{ review.text }}</p>
            <p><b>Rating:</b> {{ review.rating }} out of 5</p>
            <a href="{% url "review_edit" review.pk %}">Edit</a>
            <a href="{% url "review_delete" review.pk %}">Delete</a>
        </div>
            <hr>
        {% empty %}
            <p>No reviews yet</p>
            <hr>
        {% endfor %}
        <div class="create_new_comment text-left">
            <form action="{% url "review_create" product.pk %}" method="post">
                {% csrf_token %}
                {{ review_form|crispy }}
                <button class="btn btn-primary">Create new comment</button>
            </form>
        </div>
    </div>
{% endblock %}