{% extends "base.html" %}
{% load static %}
{% block title %}Main Page{% endblock %}

{% block content %}
<h1 class="text-center">Products</h1>
<div class="row row-cols-1 row-cols-md-3">
{% for product in products %}
  <div class="col mb-4 mt-5">
    <div class="card">
      <a href="{% url "product_detail" product.pk %}"><img width="250"
       src="{% if not product.picture %}
                {% static "pictures/img_empty.png" %}
            {% else %}
                {{ product.picture }}
            {% endif %}" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description|slice:200 }} <a href="{% url "product_detail" product.pk %}">Learn more..</a></p>
        <p>Average rating:</p>{{ ratings_list.pop }}
        {% if perms.change_product and perms.delete_product %}
          <div class="mt-3">
            <a href="{% url "product_edit" product.pk %}">Edit</a>
            <a href="{% url "product_delete" product.pk %}">Delete</a>
        </div>
       {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}