body {
    font-family: arial, sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

nav{
    margin-bottom: 50px;
}

h1.main_page{
    margin-bottom: 50px;
    text-align: center;
}

p.error_msg{
    color: darkred;
    font-weight: bold;
}

div.pagination{
    justify-content: right;
}

input.login-form{
    max-width: 20%;
    margin-left: 450px;
    align-content: center;
}
p.form-error{
    color: red;
}

button.remove_user{
    border: none;
    background-color: transparent;
    color: orangered;
    padding: 0;
}

img.avatar{
    margin-bottom: 20px;
}

div.pagination{
    max-width: 1095px;
}